<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DL.DataModel.Properties.Settings.BrunoConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Bruno;User ID=sa;Password=Tismart2013"
            providerName="System.Data.SqlClient" />
        <add name="DL.DataModel.Properties.Settings.BrunoConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=Bruno;Persist Security Info=True;User ID=sa;Password=Tismart2013"
            providerName="System.Data.SqlClient" />
        <add name="DL.DataModel.Properties.Settings.trabajoandroidConnectionString"
            connectionString="Data Source=BRUNO-PC;Initial Catalog=trabajoandroid;Persist Security Info=True;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DL.DataModel.Properties.Settings.trabajoandroidConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=trabajoandroid;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="DL.DataModel.Properties.Settings.trabajoandroidConnectionString2"
            connectionString="Data Source=trabajoandroid.mssql.somee.com;Initial Catalog=trabajoandroid;User ID=serbru20066_SQLLogin_1;Password=8nsa77vzsr"
            providerName="System.Data.SqlClient" />
        <add name="DL.DataModel.Properties.Settings.trabajoandroidConnectionString3"
            connectionString="Data Source=trabajoandroid.mssql.somee.com;Initial Catalog=trabajoandroid;User ID=u820517_SQLLogin_1;Password=gws3oo3hia"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>